/* GLOBAL */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  letter-spacing: 2px;
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN */
.main-content {
  flex-grow: 1;
}
